/*background: #F2994A;  
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A); 
background: linear-gradient(to right, #F2C94C, #F2994A); 
*/
.my-gold, .my-hover-gold:hover {
  background-color: #edcd21 !important;
  color: black !important;
}

.my-text-gold, .my-hover-text-gold:hover {
  color: #edcd21 !important;
}

.my-text-royalBlue, .my-hover-text-royalBlue:hover {
  color: #4d76fd !important;
  border-color: #4d76fd !important;
}

.my-grey, .my-hover-grey:hover {
  background-color: #f1f2f7 !important;
}

.my-page-header {
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background: linear-gradient(45deg, #9796f0, #fbc7d4);
}

.my-gold-gradient {
  color: #fff;
  background: #F2994A;
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
  background: linear-gradient(to right, #F2C94C, #F2994A);
}

.my-hover-text-gold-gradient:hover {
  background: #fff;
  color: #F2994A;
  color: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
  color: linear-gradient(to right, #F2C94C, #F2994A);
}

.my-footer {
  color: white !important;
  background-color: #292929 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 750;
}

h1 {
  font-size: 3rem;
  font-family: serif;
}

h2 {
  font-size: 2rem;
  font-family: serif;
}

h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.social-icons {
  font-size: 20px;
}

#first {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}
#first .social-icons a:before {
  background: -webkit-linear-gradient(45deg, #F2C94C, #F2994A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #F2C94C, #F2994A);
}
#first .social-icons a:hover i {
  color: #edcd21;
  background: -webkit-linear-gradient(45deg, #F2C94C, #F2994A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#first img {
  max-height: 70vh;
}
#first > a {
  position: absolute;
  bottom: 0;
}
#first #call_Button {
  position: absolute;
  width: unset;
  top: 0;
  right: 0;
}
#first nav {
  width: 100px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#first nav span {
  margin-top: 50px;
  font-size: 20px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: ease 0.5s;
}
#first nav span a {
  text-decoration: none;
}
#first nav .social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  flex-direction: column;
}
#first nav .social-container * {
  margin: 0;
  padding: 0;
}

/* bg video */
video {
  display: block;
}

@media screen and (max-device-width: 800px) {
  html {
    background: url(../asset/file.webp) #000 no-repeat center center fixed;
    background-size: cover;
  }

  #bgvid, #vidpause {
    display: none;
  }
}
#bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-65%);
  -webkit-transform: translateX(-50%) translateY(-65%);
  -moz-transform: translateX(-50%) translateY(-65%);
  transform: translateX(-50%) translateY(-65%);
  background: url(../asset/file.webp) no-repeat;
  background-size: cover;
}

#vidpause {
  position: absolute;
  top: 0;
  left: 0;
}

#vidpause:focus {
  outline: none;
}

#bgvid {
  transition: 1s opacity;
}

.stopfade {
  opacity: 0.7;
}

#timeline {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  text-align: center;
}
#timeline .panel {
  display: flex;
  flex-wrap: wrap;
}
#timeline .panel .panel-element {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timeline .panel .panel-element > * {
  width: 70%;
}
#timeline .panel .panel-element-last {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#timeline .panel .panel-element-last > div {
  width: 70%;
  border-radius: 20px 20px 0px 0px;
  text-overflow: ellipsis;
}
#timeline #app {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  width: 180px;
  height: 20px;
  margin-left: -90px;
  margin-top: 25px;
  overflow: hidden;
  z-index: 1;
}
#timeline .button {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease width;
}
#timeline .button:last-child {
  margin-right: 0;
}
#timeline .button.active {
  width: 60px;
  cursor: auto;
}

#service {
  min-width: 100vw;
  min-height: 100vh;
}

.my-image {
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-box-card {
  min-width: 50%;
  min-height: 50%;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: url(../asset/contact.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#contact #contactMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  overflow: hidden;
}
#contact #contactSecond {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 75vh;
  text-align: center;
}
#contact #contactSecond div:first-child {
  border-right: solid;
  border-color: rgba(255, 0, 60, 0.5);
}
#contact #contactSecond div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
}

#top_Links {
  display: inline;
}

@media only screen and (max-width: 600px) {
  #contact {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #contact #contactSecond {
    flex-direction: column;
    height: unset;
  }
  #contact #contactSecond div:first-child {
    border-right: none;
    border-bottom: solid;
    border-color: rgba(255, 0, 60, 0.5);
  }
  #contact #contactSecond div {
    width: 90%;
  }

  body {
    font-size: 16px;
  }

  #timeline .panel {
    flex-direction: column;
    justify-content: space-between;
  }
  #timeline .panel .panel-element {
    width: 100%;
    padding: 10px;
  }
  #timeline .panel .panel-element-last > div {
    width: 90%;
  }

  .my-box-card {
    min-width: 100%;
    min-height: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
