@mixin transform($property) {
	-ms-transform: $property;
	-webkit-transform: $property;
	-moz-transform: $property;
	transform: $property;
}

.my-gold, .my-hover-gold:hover { background-color: rgb(237,205,33)!important; color: black!important; }
.my-text-gold, .my-hover-text-gold:hover {color: rgb(237,205,33)!important;}
@mixin my-transition($time: 0.5s) {
	transition: ease $time;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(#000, 0.2);
}
header a {@extend .my-hover-text-gold; @include my-transition; padding: 5px;}
#top_Button {@extend .my-gold; @include my-transition;}
#top_Button:hover {background-color: black!important; color:rgb(237,205,33)!important; @include my-transition;}

/* bg video */
video {display: block;}
@media screen and (max-device-width: 800px) {
    html {
         background: url(../asset/file.webp) #000 no-repeat center center fixed;
         background-size: cover;
    }
    #bgvid, #vidpause {display: none;}
}
#bgvid {
	position: fixed;
	top: 50%; left:50%;
	min-width:100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	@include transform(translateX(-50%) translateY(-50%));
	background: url(../asset/file.webp) no-repeat;
	background-size: cover;
}
#vidpause{ margin-top:3%;}
video#bgvid {transition: 1s opacity;}
.stopfade { opacity: 0.7;}

@media only screen and (min-width: 600px) {
	.my-gold{}
}