/*background: #F2994A;  
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A); 
background: linear-gradient(to right, #F2C94C, #F2994A); 
*/
.my-gold, .my-hover-gold:hover {
  background-color: #edcd21 !important;
  color: black !important;
}

.my-text-gold, .my-hover-text-gold:hover {
  color: #edcd21 !important;
}

.my-text-royalBlue, .my-hover-text-royalBlue:hover {
  color: #4d76fd !important;
  border-color: #4d76fd !important;
}

.my-grey, .my-hover-grey:hover {
  background-color: #f1f2f7 !important;
}

.my-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  text-align: center;
}
.my-page-header div {
  min-width: 50%;
  overflow: hidden;
}

.my-gold-gradient {
  color: #fff;
  background: #F2994A;
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
  background: linear-gradient(to right, #F2C94C, #F2994A);
}

.my-hover-text-gold-gradient:hover {
  background: #fff;
  color: #F2994A;
  color: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
  color: linear-gradient(to right, #F2C94C, #F2994A);
}

.my .my-footer {
  color: white !important;
  background-color: #292929 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 750;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-family: serif;
}

#first {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}
#first img {
  max-height: 70vh;
}
#first > a {
  position: absolute;
  bottom: 0;
}
#first nav {
  width: 100px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#first nav span {
  margin-top: 50px;
  font-size: 20px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: ease 0.5s;
}
#first nav span a {
  text-decoration: none;
}
#first nav .social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  flex-direction: column;
}
#first nav .social-container * {
  margin: 0;
  padding: 0;
}
#first nav .social-container .social-icons a:before {
  background: -webkit-linear-gradient(45deg, #F2C94C, #F2994A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #F2C94C, #F2994A);
}
#first nav .social-container .social-icons a:hover i {
  color: #edcd21;
  background: -webkit-linear-gradient(45deg, #F2C94C, #F2994A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* bg video */
video {
  display: block;
}

@media screen and (max-device-width: 800px) {
  html {
    background: url(../asset/file.webp) #000 no-repeat center center fixed;
    background-size: cover;
  }

  #bgvid, #vidpause {
    display: none;
  }
}
#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-65%);
  -webkit-transform: translateX(-50%) translateY(-65%);
  -moz-transform: translateX(-50%) translateY(-65%);
  transform: translateX(-50%) translateY(-65%);
  background: url(../asset/file.webp) no-repeat;
  background-size: cover;
}

#vidpause {
  position: absolute;
  top: 0;
  left: 0;
}

#vidpause:focus {
  outline: none;
}

#bgvid {
  transition: 1s opacity;
}

.stopfade {
  opacity: 0.7;
}

#timeline {
  min-width: 100vw;
  min-height: 100vh;
}
#timeline .panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#service {
  min-width: 100vw;
  min-height: 100vh;
}

.my-image {
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-box-card {
  min-width: 100%;
  min-height: 100%;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: url(../asset/contact.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#contact #contactMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .my-box-card {
    min-width: 50%;
    min-height: 50%;
  }

  #timeline .panel {
    flex-direction: row;
  }

  #top_Links {
    display: inline;
  }
}

/*# sourceMappingURL=main.css.map */
